
.inter-secondary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
}
.header {
     background-image: url(../Assets/Hero-bg.png)
}



.top-section {
    display: flex;
    padding : 0px 150px;
    align-items: center;

    justify-content: space-between;

}


.name {
    color: #4E47FF;
    font-size: 34px;
}
.primary-btn{
    
    
    background-color:#4E47FF ;color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border:none;
    }
  .primary-btn:hover{
    background-color: rgb(216, 216, 19);
    cursor: pointer;
  }
.description{
    margin: 158px 267px 150px;
    text-align: center;
    size: 65px;
    }

.body{
  max-width: 1140px;
  margin: 0 auto;

 }



.action{
  display: flex;
  justify-content: space-between;
  

}

.left{
  padding: 62px 220px 62px 0px;
}
.image{
  border-radius: 40px;
}
.action-heading{
  font-size: 42px;
  font-weight: 700;
}
.action-paragraph{
  font-size: 24px;
  font-weight: 400;
  color: #252432 ;
  opacity: 50%;
 
}

.productive-user{
  margin: 116px 0px 137px 0px;
  text-align: center;
  padding: 50px 140px;
 
  
  
  


}
.details{ 
  

  display: flex;
  justify-content: space-around;
}
.productive-user-heading{
  font-size: 38px;
  font-weight: 700;
}




.blue{
  font-size: 80px;
  
  font-weight: 700;
  color: #4E47FF;
  opacity: 100%;
  
}
.blue-description{
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  opacity: 50%;

}

.review{
  display: flex;
  text-align: left;
}

.icon-star{
  background-image: url(/my-first-assignment/Assets/icon-star.png);
  background-position: top left;
}
.subtitle-4{
  color: #8987A1;
}
.reviewer{
  display: flex;
}
.reviewer-pic{
  border-radius: 50%; padding-top: 25px;
}
.reviewer-id{
  padding-left: 5px;padding-top: 10px;
}
.description-2{
  padding-bottom: 20px;
}

.heading-2{
  font-size: 60px;
  font-weight: 700;
}
.middle-part{
  text-align: center;
}

.image-2{
  
  border-radius: 30px;
}

.form{
  display: flex;
  justify-content: space-between;
  
  
}
.form-2{
  flex-direction: column;
  gap: 20px;
  text-align: left;
  height: 500;
  width: 490;
  display: block;
  padding: 70px 0px 70px 105px;
  
  
  ;
}
.form-2 label
{ font-weight: 500;
      margin-bottom: 5px;

}
.form-2 textarea  {
      padding: 10px 15px;
      font-weight: 500;
      border-radius: 10px;
      border: 1px solid 
      }
  .form-2 input{padding: 10px 15px;
      width: 300px;
      border-radius: 10px;
      border: 1px solid 
      
  }

  .form-2 button{
       width: 335px;  }
.title {
  font-size: 97px;
  font-weight: 700;
  text-align: left;
}



.logo{
  font-size: 100px;
  font-weight: 900;
  color: #4E47FF;

}
.subtitle{
  color: #8987A1;
}
nav ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
nav ul li{
  
  list-style: none;
  color: #8987A1;

}
nav ul a{
  text-decoration: none;
  color: #8987A1;
}
footer {
  text-align: center;
  padding: 105px 455px;

}
